@use "../../../shared//global.scss" as *;

.navbar {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .nav-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 30px;
            font-weight: 800;
        }
    }

    .profile-pic {
        border-radius: 50%;
        border: none;
    }

}